:root {
  --borde-grueso: 4px;
  --sombra-offset: 8px;
  --neon-verde: #22c55e;
  --neon-amarillo: #fde047;
  --neon-rosa: #ec4899;
  --bg-oscuro: #0f172a;
  --bg-tarjeta: #1e293b;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Arial Black", sans-serif;
  background-color: var(--bg-oscuro);
  color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 10px;
}

.contenedor {
  background-color: var(--bg-tarjeta);
  border: var(--borde-grueso) solid #000;
  box-shadow: var(--sombra-offset) var(--sombra-offset) 0px #000;
  width: 100%;
  max-width: 450px;
  padding: 25px;
  transition: transform 0.2s;
}

/* --- ELEMENTOS --- */
h1 {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--neon-amarillo);
  line-height: 1.1;
  margin-bottom: 20px;
  text-shadow: 2px 2px 0px #000;
}

label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

input {
  width: 100%;
  padding: 18px;
  font-size: 1.2rem;
  border: var(--borde-grueso) solid #000;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  margin-bottom: 15px;
  box-shadow: 4px 4px 0px #000;
  outline: none;
}

input:focus {
  background-color: var(--neon-rosa);
  color: white;
  transform: scale(1.02);
}

button {
  width: 100%;
  padding: 20px;
  background-color: var(--neon-verde);
  border: var(--borde-grueso) solid #000;
  color: #000;
  font-size: 1.4rem;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 5px 5px 0px #000;
  margin-top: 10px;
}

button:active {
  transform: translate(4px, 4px);
  box-shadow: 0px 0px 0px #000;
}

/* --- MEDIA QUERIES --- */

@media (max-width: 480px) {
  body {
    padding: 0;
    align-items: flex-start;
  }

  .contenedor {
    border-left: none;
    border-right: none;
    border-top: none;
    width: 100%;
    max-width: 100%;
    box-shadow: 0px 8px 0px #000;
    min-height: 100vh;
  }

  h1 {
    font-size: 1.8rem;
  }
}

@media (min-width: 1800px) {
  .contenedor {
    max-width: 700px;
    padding: 50px;
    border-width: 8px;
    box-shadow: 20px 20px 0px #000;
  }

  h1 {
    font-size: 3.5rem;
  }
  label {
    font-size: 1.8rem;
  }
  input {
    font-size: 2.5rem;
    padding: 30px;
  }
  button {
    font-size: 3rem;
    padding: 40px;
  }
  p {
    font-size: 2rem;
  }
}
